body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.budget-item {
    display: block;
    padding: 5px;
    text-align: right;
}

.budget-text-wrapper{
    display: inline-block;
    border: 1px;
    border-style: solid;
    padding: 5px;
    width: 60%;
}

.budget-item-name {
    display: inline;
    float: left;
    margin: 2px;
}

.budget-item-value {
    display: inline;
    float: right;
    margin: 2px;
}

.delete-btn {
    float: left;
    padding: 5px;
    margin-left: 10%;
}

.input-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.input-wrapper input {
    width: 60%;
}

.right-text {
    text-align: right;
    width: 75%;
    margin: auto;
}

.outer-block {
    width: 30%;
    display: inline-block;
}

.btn {
    margin: 5px;
    padding: 2px;
}

#budget-items {
    width: 60%;
    margin: auto;
}

#budget-app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
